/*font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Rokkitt', serif;*/

/*To disable the button click cursor: not-allowed; */
body {
	font-family: 'Asap', sans-serif;
  height: 100%;
  width: 100%;
	/* background-color: rgb(2, 62, 115); */
  background-image: url(../images/trivia_bg3.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  /* padding-bottom: 70px; */
}

/*.jumbotron {
	background-color: transparent;
	font-family: 'Rokkitt', serif;
	font-size: 60px;
	text-align: center;
	color: #F2F2F2;
	font-weight: bolder;
}*/

.startButton {
	box-shadow: 8px 8px 35px -9px rgba(0,0,0,1);
	height: 75px;
	width: 200px;
	background-color: #cc2e4a;
	border-radius: 10px;
	font-size: 20px;
	color:#F2F2F2;
	margin-top: 40px;


}
.startButton:hover {
	background-color: #dc2b4a;
}

h1 {
  font-family: 'Asap', sans-serif;
	font-size: 60px;
	/*text-shadow: */
	margin-bottom: -30px;
}

h2 {
  font-family: 'Asap', sans-serif;
}



/*This styles the correct answer when displayed on the answer page*/
span {
	font-weight: bolder;

}

#picture {
  display: flex;
  justify-content: center;
}

.guess {
	font-size: 20px;
	font-family: 'Asap', sans-serif;
	display: block;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #023E73;
	color: white;
	text-align: center;
	margin: 20px;
	margin-left: 75px;
	padding: 20px;
	width: 40%;
}

.guess:hover {
	background-color: #cc2e4a;
	/*border: solid 1px black;*/
	color: white;
}

p {
	text-align: center;
	font-size: 35px;
	font-family: 'Rokkitt', serif;

}


.triviaBox {
	border: solid 2px transparent;
}

.panel {
    background-color: rgb(242,242, 242);
    background-color: rgba(242,242, 242, .15);
    /*background-color: transparent;*/
    /* height: 700px; */
    /*overflow: auto;*/
    /*margin-top: -50px;*/

}



.pictureframe {
	height: 300px;
	width: 567px;
	margin-top: 25px;
}


.img-center {
	margin: 0 auto;

}

.img-fluid {
	max-width: 100%;
	height: auto;

}

#header {
	margin-bottom: 30px;
	font-family: 'Rokkitt', serif;

}
#timer {
	font-weight: bolder;

}

#question {
	font-size: 25px;
}




#correctAnswer {
	font-size:25px;
}

.footer {
  font-family: 'Asap', sans-serif;
  height: 25px;
  background-color: rgba(242,242, 242, .15);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* position: absolute; */
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  /* padding: 1rem; */
  width: 100%;
  /* margin-left: 700px; */
  color: #333;
}

/* .navbar-fixed-bottom {
  height: 25px;
  background-color: rgba(242,242, 242, .15);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 0;
  left: 0;
  /* padding: 1rem; */
  width: 100%;
  /* margin-left: 700px; */
  color: #333;
} */
